body {
	padding: 1em 3em;
	/*
	font: 14px 'Malgun Gothic';
	font-family: Fixedsys;
	font-family: monospace;
	font-family: serif;
	font-family: sans-serif;
	font-family: cursive;
	font-family: fantasy;
	*/
}
/*
table {
	border-collapse: collapse;
}
img {
	border: 0 none;
}
p {
	text-indent: 1em;
}
h2 {
	margin-top: 3em;
	border-bottom: thin solid black;
}
h3 {
	margin-top: 3em;
}
*/
h2 {
	margin-top: 3em;
	border-bottom: thin solid black;
}
blockquote {
	border: thin dashed #555555;
	margin: 2em 2em 3em 2em;
	padding: 1em;
}
pre.shell {
	font-family: Fixedsys;
	background-color: black;
	color: white;
	margin: 2em;
	padding: 1em;
/*
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
*/
}
pre.shell em {
	font-style: normal;
	color: #DDBB00;
}
pre.shell var {
	font-style: normal;
	color: #775500;
}
pre.shell kbd {
	font-weight: bold;
	color: #5555FF;
}
